# Игнорировать файлы и папки, создаваемые JetBrains IDE (например, IntelliJ IDEA, PhpStorm и т.д.)
.idea/
*.iws
*.iml
*.ipr
out/

# Игнорировать файлы и папки, создаваемые Visual Studio Code
.vscode/
*.code-workspace

# Игнорировать файлы и папки, создаваемые другими IDE
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# Игнорировать временные файлы и папки
tmp/
temp/

# Игнорировать логи
*.log
logs/

# Игнорировать файлы, создаваемые операционной системой
.DS_Store
Thumbs.db

# Игнорировать файлы, созда
